<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784530293437-i37tv08bqviru0b9bsfqg1l6fq9m80ri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784530293437-i37tv08bqviru0b9bsfqg1l6fq9m80ri</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>784530293437-5435cik0egubvinmhnr9uae74b3gilgg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRP_Tsz5qZf_WlzbryElWv0F1TvB6zK3g</string>
	<key>GCM_SENDER_ID</key>
	<string>784530293437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muslimplanner.app</string>
	<key>PROJECT_ID</key>
	<string>muslimplanner-52853</string>
	<key>STORAGE_BUCKET</key>
	<string>muslimplanner-52853.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784530293437:ios:3dd8c9969f7def4921add4</string>
</dict>
</plist>